div.DraftEditor-root {
  position: relative;
  width: 98%;
  height: 350px;
  margin: 0 auto;
  /* border: 1px solid #000000; */
  overflow-y: auto;
  /* background-color: #687079; */
  /* color: #ffdf50; */
  color: darkgray;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
}