.edit-container {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 5px;
  /* border: 1px solid blue; */
}

/* EDITOR DISPLAY STYLES */
.animated-editor-display {
  width: 100%;
  height: 600px;
  border: 1px solid orange;
}

.animate-open {
  display: block;
  height: 600px;
  transition-property: height;
  transition-duration: .1s;
  transition-delay: .1s;
  border: 1px solid blue;
}