.accordion-container {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;  
}

.accordion-button {
  width: 100px;
  margin: 0 auto;
  padding: 6px 8px;
  background-color: slateblue;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 14px;
}

.accordion {
  overflow: hidden;
  transition: transform 0.3s ease-out;
  height: auto;
  transform: scaleY(1);
  transform-origin: top;
}

.closed {
  transform: scaleY(0);
}