div.DraftEditor-root {
  position: relative;
  width: 98%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-y: auto;
  color: rgb(85, 85, 85);
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
  padding: 2px;
}