.slider-container {
  width: 250px;
  height: auto; /* 264 */
  margin: 0 auto;
  padding: 0;
  background-color: #242526;
}

.slider {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 100%;
  height: 100%;
}