.dv-edit-note-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* BUTTONS */
.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 250px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 3px;
}

.dv-edit-note-submit-button {
  width: 100px;
  height: 33px;
  padding: 6px 8px;
  background-color: #242526;
  border: 1px solid #242526;
  color: #02e602;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
}
.dv-edit-note-submit-button:hover {
  border: 1px solid #02e602;
}

/* Close the editor */
.close-button {
  width: 100px;
  height: 33px;
  padding: 6px 8px;
  background-color: #242526;
  border: 1px solid #242526;
  color: red;
  border-radius: 3px;
  text-align: center;
}
.close-button:hover {
  border: 1px solid red;
}

.dv-edit-note-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.dv-edit-note-header {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: #171c1f;
  color: goldenrod;
}

.dv-edit-note-form {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 10px;
}

.dv-edit-note-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 4px;
  color: #444;
}

.dv-edit-note-input {
  width: 100%;
  height: 30px;
  margin: 0 auto;
  padding: 4px;
  background-color:#171c1f;
  border: 1px solid #171c1f;
  color: gray;
}
.dv-edit-note-input::placeholder {
  padding: 0px 0px 0px 5px;
}