.dv-edit-note-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Close the editor */
.close-and-submit {
  width: 40px;
  height: 40px;
  margin: 0px;
  padding: 10px;
  background-color: #242526;
  border: 1px solid #242526;
}

.dv-edit-left-arrow-icon {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.dv-edit-left-arrow-icon:hover {
  filter: invert(98%) sepia(76%) saturate(289%) hue-rotate(49deg) brightness(101%) contrast(98%);
  -webkit-filter: invert(98%) sepia(76%) saturate(289%) hue-rotate(49deg) brightness(101%) contrast(98%);
}

.dv-edit-note-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.dv-edit-note-header {
  margin: 0px 0px 0px 10px;
  padding: 0;
  color: goldenrod;
}

.dv-edit-note-form {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 10px;
}

.dv-edit-note-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 4px;
  color: #444;
}

.dv-edit-note-input {
  width: 95%;
  height: 30px;
  margin: 0 auto;
  padding: 4px;
  background-color:#171c1f;
  border: 1px solid #171c1f;
  color: gray;
}
.dv-edit-note-input::placeholder {
  padding: 0px 0px 0px 5px;
}

.dv-edit-note-submit-button {
  width: 100px;
  height: 33px;
  margin: 0 auto;
  padding: 6px 8px;
  background-color: slateblue;
  border: 1px solid slateblue;
  color: white;
  border-radius: 3px;
  font-size: 14px;
}
.dv-edit-note-submit-button:hover {
  background-color: #DFFDDF;
  border: 1px solid rgb(223, 253, 223);
  color: #444;
}