div.DraftEditor-root {
  position: relative;
  width: 98%;
  height: 400px;
  margin: 4px auto;
  padding: 0;
  border: 1px solid lightgray;
  overflow-y: auto;
  color: rgb(85, 85, 85);
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
  padding: 5px;
}