div.DraftEditor-root {
  position: relative;
  width: 98%;
  height: 400px;
  margin: 4px auto;
  padding: 0;
  border: 1px solid lightgray;
  overflow-y: auto;
  color: rgb(85, 85, 85);
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
  padding: 5px;
}

/* RICHUTIL CONTROLS */
.editor-button-container {
  width: 98%;
  height: auto;
  margin: 0 auto;
  padding: 4px;
  border: 1px solid red;
}

.editor-button {
  width: 30px;
  height: 18px;
  margin: 0;
  padding: 6px 8px;
  background-color: white;;
  border: 1px solid lightgray;
}

/* =================================================== */
/* TOOLBAR STYLES */
.flex-fragment {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  width: 300px;
  /* height: 40px; */
  margin: 0px 0px 0px 5px;
  padding: 0px 0px 0px 0px;
  /* border: 1px solid red; */
}

/* div.draftJsToolbar__button__qi1gf {
  border: 1px solid red;
} */

.headlineButtonWrapper {
  display: flex;
}

.headlineButton {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
  background: #f3f3f3;
}

.tb-button {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}