.responsive-view-container {
  max-width: 100%;
  max-height: 100%;
}

.responsive-view {
  position: relative;
  margin: 0 auto;
  width: 98%;
  height: 100%;
}

.note-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  /* height: 100%; */
  /* overflow: hidden; */
  /* border: 1px solid red; */
}
.note-list.expand-height {
  height: 100%;
  overflow: hidden;
  background-color: white;
}

/* SEARCH STYLES */
.search-container {
  position: relative;
  width: 100%;
  height: auto;
}

.search-container.open {
  display: block;
}

.search-container.closed {
  display: none;
}

/* ADD NOTE ICON */
.add-icon {
  width: 40px;
  margin: 0px 0px 0px 10px;
  padding: 0;
  margin: 0px 10px;
}

.add-icon:hover {
  filter: sepia(1) saturate(5352%) brightness(200%) hue-rotate(90deg);
  -webkit-filter: sepia(1) saturate(5352%) brightness(200%) hue-rotate(90deg);
}

.add-icon.hide {
  display: none;
}