.form-container {
  position: relative;
  width: 252px;
  height: 100px;
  margin: 0 auto;
  padding: 0;
  border: 2px solid black;
  overflow: hidden;
  transition-property: tranform, height;
  transition: all .15s ease;
}
.height-animation-class {
  height: 300px;
}

.animation-button-container {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}
.animation-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 1px solid purple;
}

.form-display {
  transition: transform 500ms ease;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid orange;
}

/* LOGIN */
.login-display {
  position: absolute;
  transform: translateX(-110%);
  transition-property: transform;
  transition-duration: .5s;
  transition-delay: .5s;
  border: 1px solid green;
}
.login-slide-right {
  transform: translateX(0%);
  height: 300px;
}

/* REGISTER */
.register-display {
  position: absolute;
  transform: translateX(110%);
  transition-property: transform;
  transition-duration: .5s;
  transition-delay: .5s;
  border: 1px solid pink;
}
.register-slide-left {
  transform: translateX(0%);
  height: 300px;
}