.dv-note-list-container {
  position: relative;
  width: 400px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.editor-opened {
  display: none;
}

/* Houses the Searchbar and Add Icon */
.fixed-container {
  position: relative;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.add-icon {
  width: 40px;
  margin: 0px 0px 0px 10px;
  padding: 0;
  margin: 0px 10px;
}
.add-icon:hover {
  filter: sepia(1) saturate(5352%) brightness(200%) hue-rotate(90deg);
  -webkit-filter: sepia(1) saturate(5352%) brightness(200%) hue-rotate(90deg);
}

/* NOTE LIST */
.note-list {
  position: relative;
  width: 100%;
  max-height: 500px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  overflow-y: scroll;
}
.note-list::-webkit-scrollbar {
  display: none;
};

/* LOADER */
.show-loader {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* display: block; */
}

.no-loader {
  display: none;
}

/* NOTE-LIST LOADER */
.hide-element-show-loader {
  display: none;
}