div.DraftEditor-root {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  border: 1px solid #000000;
  overflow-y: auto;
  background-color: rgb(245, 245, 245);
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
}